@using PhongKham.Core.Entities
@model IEnumerable<Benh>
<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">Danh sách Bệnh</h5>
    <div class="table-responsive text-nowrap">
        <table class="table" id="benhTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên bệnh</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model.Count() != 0)
                {


                    @foreach (var benh in Model)
                    {
                        <tr>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@benh.Id</strong></td>
                            <td>@benh.tenBenh</td>                          
                            <td>
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item btn btn-outline-primary" onclick="jQueryModalGet('?handler=CreateOrEdit&id=@benh.Id','Sửa Bệnh')">
                                        <i class="bx bx-edit-alt me-1"></i>
                                        Cập nhập
                                    </a>
                                    <a class="dropdown-item btn btn-outline-primary" onclick="jQueryModalGet('?handler=Detail&id=@benh.Id','Chi tiết Bệnh')">
                                        <i class="bx bx-edit-alt me-1"></i>
                                        Chi tiết
                                    </a>
                                    <form class="dropdown-item d-inline" method="post" asp-page="Index" asp-route-id="@benh.Id" asp-page-handler="Delete" onsubmit="return jQueryModalDelete(this)">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bx bx-trash me-1"></i> Xóa
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<!--/ Basic Bootstrap Table -->
<script>
    $(document).ready(function () {
        $("#benhTable").DataTable();
    });
</script>
