@page
@using PhongKham.Core.Entities
@model PhongKham.Web.Pages.FKhamBenh.CreatePhieuKhamBenhModel
@{
}
<h2>Tạo Phiếu Khám Bệnh</h2>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-sm-8" style="padding:20px">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Mã bác sĩ</label>
                <div class="col-md-9">
                    <input type="number" autocomplete="off" asp-for="AddPKB.BacSiId" name="BacSiId" class="form-control">
                    <span asp-validation-for="AddPKB.BacSiId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Mã Bệnh nhân</label>
                <div class="col-md-9">
                    <input type="number" autocomplete="off" asp-for="AddPKB.BenhNhanId" name="BenhNhanId" class="form-control">
                    <span asp-validation-for="AddPKB.BenhNhanId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Mã nhân viên</label>
                <div class="col-md-9">
                    <input type="text" autocomplete="off" asp-for="AddPKB.NhanVienId" name="NhanVienId" class="form-control">
                    <span asp-validation-for="AddPKB.NhanVienId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Loại Bệnh</label>
                <div class="col-md-9">
                    <select asp-for="AddPKB.BenhId" class="form-control" asp-items="ViewBag.Benh"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Tiền khám</label>
                <div class="col-md-9">
                    <input type="number" autocomplete="off" asp-for="AddPKB.TienKhamBenh" name="TienKhamBenh" value="40000" readonly class="form-control">
                    <span asp-validation-for="AddPKB.TienKhamBenh" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">Ghi chú</label>
                <div class="col-md-9">
                    <input type="text" autocomplete="off" asp-for="AddPKB.GhiChu" name="GhiChu" class="form-control">
                    <span asp-validation-for="AddPKB.GhiChu" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
            <div class="form-group justify-content-between">
                <button type="submit" class="btn btn-primary save-button" value="Create">Lưu Phiếu Khám</button>
            </div>

        </form>
        <div class="justify-content-between">
            <a class="btn btn-secondary" asp-area="" asp-page="/FKhamBenh/Index">Quay về</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
