@page
@model PhongKham.Web.Pages.FKhamBenh.IndexModel
@{
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-sm-12" style="padding:20px">
        <!--<a onclick="jQueryModalGet('?handler=CreateOrEdit','Tạo Phiếu Khám Bệnh')" class="btn bg-success">-->
        <a class="btn btn-success" asp-page="/FKhamBenh/CreatePhieuKhamBenh">
            Tạo Phiếu Khám Bệnh
        </a>
        <a id="reload" class="btn btn-warning">
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive"> </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#viewAll').load('?handler=ViewAllPartial');
        });
        $(function () {
            $('#reload').on('click', function () {
                $('#viewAll').load('?handler=ViewAllPartial');
            });
        });
    </script>
}